body {
  background: darkslategray;
}

#title {
  background-color: orangered;
  width: 371px;
  height: 50px;
}

#screen {
  font-size: 30px;
  text-align: end;
  border: 10px solid black;
  color: orangered;
  width: 371px;
  height: 70px;
  margin-top: -7.3px;
  margin-right: -10px;
  margin-bottom: -20px;
}

#app {
  font-family: fantasy;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin-top: 60px;
}

.calc-card {
  border: 2px solid black;
  background-color: #141414;
  height: 480px;
  width: 400px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 10px;
}

.center {
  margin: 550px;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.calculator__keys {
  display: flex;
  margin-bottom: -33px;
  margin-top: -25px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.operator {
  background-color: white;
  color: black;
}

button {
  font-size: x-large;
  margin-top: 65px;
  margin-left: 25px;
  height: 50px;
  width: 850px;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.btn_clr {
  background-color: orangered;
}
